<html>
	<head>
		<title>Dashboard</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/site/dashboard.css">
	</head>
	<body>
		<h1>Dashboard</h1>
		<header>
			<a href="mysite" id="logout">Logout</a><br/>
		</header><br/>
		<div id="options">
			<button id="bi">Browse Items</button>
			<button id="ib">Items bought</button>
			<button id="vc">View cart</button>
			<!-- <button id="as">Account summary</button> -->
		</div>
		<p id="result"></p>
		<script src="/js/site/dashboard.js"></script>
	</body>
</html>