<html>
	<head>
		<title>Login Page</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/site/login.css">
	</head>
	<body>
		<h1>Login Page</h1>
			<header>
				<a href="mysite">Home Page</a>
			</header>
			<div id="entry">
				<br/>
				<p>Enter the Username</p>
				<input type="text" id="username"><br/>
				<p>Enter the password</p>
				<input type="text" id="password"><br/><br/>
				<button id="submit">Login</button><br/><br/>
			</div>
			
		<p id="finalres"></p>
		<script src="/js/site/login.js"></script>
	</body>
</html>
