<html>
	<head>
		<title>Register Page</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/site/register.css">
	</head>
	<body>
		<h1>Register Page</h1>

			<header>
				<a href="mysite">Home Page</a>
			</header>
			<div id="entry">
				<p>Enter the Name</p>
				<input type="text" id="i1"><br/>
				<p>Enter the Username</p>
				<input type="text" id="i2"><br/>
				<p>Enter the Password</p>
				<input type="text" id="i3"><br/><br/>
				<button id="submit">Register</button><br/><br/>
			</div>

		<p id="finalres"></p>
		<script src="/js/site/register.js"></script>
	</body>
</html>