<html>
	<head>
		<title>AC 1</title>
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/ac1.css">
	</head>
		<body>
			<br/>
			<h2>This is access control challenge</h2>
			<div id="chall1">
				<br/>
				<h4>Login</h4>
				<p>Username</p> <input type="text" id="user" name="user"><br>
				<p>Password</p> <input type="password" id="pass" name="pass"><br><br/>
				<button id="btn">Submit</button>
			</div>
				<br><br>
				<p id="error"></p>

				<script src="/js/ac1.js"></script>
		</body>
</html>
