<html>
	<head>
		<title>CE</title>
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/ce.css">
	</head>
		<body>
			<h2>This is Command Execution</h2>
			<br/>
			<div id="chall1">
				<br/>
				<h4>Enter an ip to ping and get response</h4>
				<input type="text" id="ip">   
				<button id="ping">Ping</button>	<br><br>
				<p id="result"></p>
			</div>

			<script src="/js/ce.js"></script>
		</body>
</html>
