<html>
	<head>
		<title>CSRF 1</title>
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
		<script src="/js/csrf1.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/csrf1.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	</head>
		<body>
			<h2>This is CSRF challenge</h2>
			<br/>
			<div id="chall1">
				In progress
			</div>
		</body>
</html>