<html>
	<head>
		<title>FU</title>
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/fu.css">
		</script>
	</head>
		<body>
			<h2>This is File upload</h2>
			<br/>
			<div id="chall1">
				<form method="POST" action="/uploadfile" enctype="multipart/form-data">
				  <input type="file" id="myFile" name="filename">
				  <input type="submit" id="upload" value="Upload">
				</form>
			</div>
			<div id="res1">
			</div>

			<!--<script src="/js/fu.js"></script>*/-->
		</body>
</html>
