<html>
	<head>
		<title>PT 1</title>
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/pt1.css">
	</head>
		<body>
			<h4>This is Path traversal challenge</h4>
			<div id="chall1">
				<br/>
				<p>Click a button to view the image file</p>
				<!-- <img src="img1.jpg" alt="Image 1">
				<img src="img2.jpg" alt="Image 2">
				<img src="img3.jpg" alt="Image 3"> --><br>
				<button id="btn1">Image 1</button>
				<button id="btn2">Image 2</button>
				<button id="btn3">Image 3</button>
				<br/>
			</div>

			<div id="thefile">
				
			</div>

			<script src="/js/pt1.js"></script>
		</body>
</html>
