<html>
	<head>
		<title>Register</title>
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/register.css">
	</head>
		<body>
			<h2>This is the user registration page</h2>

			<h4>Provide details</h4>
				Name <input type="text" id="name" name="name"><br>
				Phone no. <input type="number" id="phone" name="phone"><br>
				Username <input type="text" id="user" name="user"><br>
				Password <input type="password" id="pass" name="pass"><br>
				<button id="btn">Submit</button>
				<br><br>
				<p id="status"></p>

				<script src="/js/register.js"></script>
		</body>
</html>