<html>
	<head>
		<title>SD 1</title>
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/ac1.css">
	</head>
		<body>
			<h2>This is sensitive data exposure challenge</h2>

			<div id="chall1">
				Enter user no. to get the name<br><br>
				<input type="text" id="userno" name="userno"><br>
				<input type="submit" id="btn" name="submit"><br><br>
			</div>
			<div id="res1">
			</div>

			<script src="/js/sd1.js"></script>
		</body>
</html>