<html>
	<head>
		<title>SQL 1</title>
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/sql1.css">
		
	</head>
		<body>
			<h2>This is SQL injection challenge</h2><br><br>
		<div id="chall1">
	 		<br/>
			<p>Enter your name to get the details</p><br>
			<input type="text" id="name">
			<button id="submit">Search</button><br><br>
		</div>
			<p id="result"></p>

			<script src="/js/sql1.js"></script>
		</body>
</html>
