<html>
	<head>
		<title>SQL 1</title>
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
		<script src="/js/sql1.js"></script>
	</head>
		<body>
			<h2>This is SQL injection challenge</h2>
			<p>There is a list of students with some details, you can add your own detail here, and then view it.</p>
			<div id="chall1">
				Name: <input type="text" id="name"><br/>
				Country: <input type="text" id="country"><br/>
				Stream: <input typr="text" id="stream"><br/>
				<button id="sub1">Submit</button>
			</div>
			<br/><br/><br/>
			<div id="chall2">
				Display details of (insert name): <input type="text" id="name1">				<button id="sub2">Submit</button><br/><br/>
				Your details:<br/>
			</div>
		</body>
</html>