<html>
	<head>
		<title>XSS 3</title>
		<link rel="preconnect" href="https://fonts.gstatic.com">
		<link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
		<script src="/js/xss1.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/xss3.css">
	</head>
		<body>
			<header>
				<a href="xss1">XSS1 - DOM XSS</a><br/>
				<a href="xss2">XSS2 - Stored XSS</a><br/>
			</header>
			<h2>This is Reflected XSS challenge</h2>
			<br/>
			<div id="chall1">
				<p>Please enter your name to Search</p>
				<input type="text" name="name" id="myname"/><br/><br/>
				<button id="submit">Submit</button>
			</div>
		</body>
</html>
