h1{
	font-family: sans-serif, pangolin, umpush, ubuntu, arial;
}

p{
	font-family: sans-serif, pangolin, umpush, ubuntu, arial;
}

body{
	font-family: sans-serif, pangolin, umpush, ubuntu, arial;
	background-color: orange;
	text-align: center;
	font-size: 18;
}

ol {
	margin-left: 40%;
	text-align: left;
}

button {
	font-family: sans-serif, pangolin, umpush, ubuntu, arial;
	font-size: 20;
	
}


