h1{
	font-family: pangolin, umpush, ubuntu, arial;
}

p{
	font-family: pangolin, umpush, ubuntu, arial;
}

body{
	font-family: pangolin, umpush, ubuntu, arial;
	background-color: black;
	text-align: center;
	font-size: 18;
	color: white;
}

ol {
	margin-left: 40%;
	text-align: left;
}

button {
	font-family: pangolin, umpush, ubuntu, arial;
	font-size: 20;
}


